{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% load static%}
{% block title %} Register Now {% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <img class="mobile-logo" src="{% static 'img/mobile.png'%}" alt="">
    </div>
    <div class="col-md-6">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-success">Register</button>
        </form>
        <div class="text-muted border-top mt-4">
            <small>Already have an account? <a href="{% url 'login'%}">Log in</a> </small>
        </div>
    </div>
</div>

{% endblock content %}